<!-- OUTER CONTAINER TEMPLATE -->
<table>
	<tbody>
	<tr>
		<td align="center">

			<% if(variables.containerWidthFallback) { %>
				<!--[if gte mso 9]>
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed !important;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;" width="<%= variables.width %>">
					<tbody>
					<tr>
						<td width="<%= variables.width %>" style="width:<%= variables.width %>px;max-width:<%= variables.width %>px">
				<![endif]-->
			<% } %>

			<!-- OUTER CONTAINER CONTENT -->
			<%- content %>
			<!-- / OUTER CONTAINER CONTENT -->

			<% if(variables.containerWidthFallback) { %>
				<!--[if gte mso 9]>
				</td>
				</tr>
				</tbody>
				</table>
				<![endif]-->
			<% } %>

		</td>
	</tr>
	</tbody>
</table>
<!-- / OUTER CONTAINER TEMPLATE -->
